@import "tailwindcss";

/* ------ تعريف الخطوط ------ */

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Regular.woff2') format('woff2'),
       url('/fonts/Rubik-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Medium.woff2') format('woff2'),
       url('/fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
}


/* ------  متغيرات المشروع اللونية ------ */

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(20.5% 0 0); 
  --color-main: oklch(0.359 0.144 278.697);
  --color-main-text: oklch(0% 0 0);
  --color-hover: oklch(0.457 0.24 277.023);
}


/* ------  التنسيقات العامة ------ */


  body {
    @apply bg-background text-foreground;
    font-family: 'Rubik', sans-serif;
  }

  body::selection{
    @apply bg-main text-background
  }




/* ------ الفئات المخصصَّة ------ */

@layer components {
  .cir-btn {
    @apply rounded-full bg-main p-4 font-bold text-white shadow-sm cursor-pointer hover:bg-hover;
  }

  .seq-btn {
    @apply rounded-full bg-main p-4 font-bold text-white shadow-sm cursor-pointer hover:bg-hover;
  }

  .text-input {
    @apply w-full rounded-lg border border-gray-300 p-2 focus:ring-1 focus:ring-main focus:outline-none text-background shadow-sm;
  }

  .main-header {
    @apply fixed right-0 top-0 z-50 flex h-[20vh] w-screen items-center justify-around gap-12 p-3 max-sm:h-fit bg-background font-semibold;  
  }

  .dir-container {
    @apply flex justify-center items-center gap-2 max-sm:hidden;
  }

  .data-container{
    @apply inline-flex rounded p-6 hover:cursor-pointer hover:shadow-sm hover:ring-1 hover:ring-main;
  }
}

